/* body{
    background: linear-gradient(to top right, #ffffcc 5%, #00aba9 102%);

} */
.container{
    max-width: 500px;
}
.Heading{
    text-align:center;
}
.jumbotron{
    padding: 10px;
    text-align:center;
    background-color: white;
}
